<div style="text-align: center" class="row">
    <div class="col-lg-12">
        <h1 style="font-weight: bolder; font-size: 500%">Budget Tracker API</h1>
    </div>
</div>
<div class="row" style="text-align: center">
    <div class="col-lg-12">
        <h3 style="font-weight: bold">By Trevor Popham</h3>
    </div>

</div>
<div class="row" style="text-align: center">
    <div class="col-lg-5"></div>
    <div class="col-lg-2" style="text-align: center">
        <a class="btn btn-success btn-block" style="text-align: center; margin-top: 5em; font-size: 20px" href=@Url.Action("Index", "Swagger")>
            View
        </a>
    </div>
    <div class="col-lg-5"></div>
</div>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8" style="text-align: center; margin-top: 5em">
        <h3>
            This Financial Portal API was build with C#, Web API 2, SQL Server, and Stored Procedures. Find more information about me and the Financial Portal project <a href="https://trevorpopham.azurewebsites.net/">here</a>.
        </h3>
    </div>
    <div class="col-lg-2"></div>
</div>
